In [1]:
import os, pandas as pd
os.listdir()

['.ipynb_checkpoints',
 'commercesparis.csv',
 'data',
 'dml_df.ipynb',
 'numpy.ipynb',
 'script1.py',
 'testing_jupyter.ipynb']

In [2]:
df = pd.read_json("./data/supermarkets.json")
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [4]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.loc?

In [8]:
df.loc[0,"Name"]

'Madeira'

In [12]:
df.loc[3:4,"Address":"Country"]

           Address           City Country
3     3995 23rd St  San Francisco     USA
4  1056 Sanchez St  San Francisco     USA

In [8]:
df.loc[1:4,["Address","City","State"]]

           Address           City             State
1   735 Dolores St  San Francisco          CA 94119
2      332 Hill St  San Francisco  California 94114
3     3995 23rd St  San Francisco          CA 94114
4  1056 Sanchez St  San Francisco        California

In [9]:
df.loc[:,["Address","City","State"]]

           Address           City             State
0     3666 21st St  San Francisco          CA 94114
1   735 Dolores St  San Francisco          CA 94119
2      332 Hill St  San Francisco  California 94114
3     3995 23rd St  San Francisco          CA 94114
4  1056 Sanchez St  San Francisco        California
5  551 Alvarado St  San Francisco          CA 94114

In [10]:
list(df.loc[:,"Address"])

['3666 21st St',
 '735 Dolores St',
 '332 Hill St',
 '3995 23rd St',
 '1056 Sanchez St',
 '551 Alvarado St']

In [11]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [12]:
df.iloc[3:5,-4:]
# index based access

   Employees  ID        Name       State
3         10   4  Ben's Shop    CA 94114
4         12   5     Sanchez  California

In [13]:
df2 = df.set_index("Address")
df2

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [14]:
df2.ix[2,"Employees"]

25

In [14]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [16]:
df.drop("Address",1)
# drop column Address 1 = column 0 = row

            City Country  Employees  ID         Name             State
0  San Francisco     USA          8   1      Madeira          CA 94114
1  San Francisco     USA         15   2  Bready Shop          CA 94119
2  San Francisco     USA         25   3  Super River  California 94114
3  San Francisco     USA         10   4   Ben's Shop          CA 94114
4  San Francisco     USA         12   5      Sanchez        California
5  San Francisco     USA         20   6   Richvalley          CA 94114

In [18]:
df.drop(1)

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [32]:
df.columns[2:]

Index(['Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [20]:
df
df.shape[1]

7

In [21]:
#  shape[0] nombre de ligne / 1 nombre de colonne
df["Continent"]=df.shape[0]*["North America"]

In [38]:
df

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [22]:
df.shape # taille de la DF

(6, 8)

In [44]:
df["Continent"] = df["Country"] + ", North America"

In [46]:
df

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [25]:
from geopy.geocoders import Nominatim

In [26]:
nom = Nominatim()

In [27]:
home = nom.geocode("372 bay street, toronto")

In [28]:
print(home[-1])

(43.6510367, -79.3813927)

In [29]:
home.latitude

43.6510367

In [31]:
 nom.geocode("372 bay street, toronto")

Location(7-Eleven, 372, Bay Street, Financial District, Old Toronto, Toronto, Ontario, M5H 2W9, Canada, (43.6510367, -79.3813927, 0.0))

In [32]:
df

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [34]:
df["full_address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America,"3666 21st St, San Francisco, CA 94114, USA"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America,"735 Dolores St, San Francisco, CA 94119, USA"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America,"332 Hill St, San Francisco, California 94114, USA"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"3995 23rd St, San Francisco, CA 94114, USA"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America,"1056 Sanchez St, San Francisco, California, USA"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America,"551 Alvarado St, San Francisco, CA 94114, USA"

In [35]:
df["Latitude"] = df["Address"].apply(nom.geocode).apply(lambda x: x.latitude if x != None else "N/A")
df["Longitude"] = df["Address"].apply(nom.geocode).apply(lambda x: x.longitude if x != None else "N/A")
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address,Latitude,Longitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America,"3666 21st St, San Francisco, CA 94114, USA",34.029595,-118.478736
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America,"735 Dolores St, San Francisco, CA 94119, USA",37.417080,-122.167174
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America,"332 Hill St, San Francisco, California 94114, USA",39.304666,-76.710369
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"3995 23rd St, San Francisco, CA 94114, USA",42.332384,-83.091101
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America,"1056 Sanchez St, San Francisco, California, USA",37.748362,-122.429346
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America,"551 Alvarado St, San Francisco, CA 94114, USA",32.713912,-96.876668

In [36]:
df["both"] = list(zip(df.Latitude,df.Longitude))

In [37]:
print(list(zip(df.Latitude,df.Longitude)))

[(34.029595399999998, -118.4787359), (37.417080200000001, -122.167174), (39.304665800000002, -76.710369099999994), (42.332383999999998, -83.091100999999995), (37.748362, -122.429346), (32.713912000000001, -96.876667999999995)]

In [38]:
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address,Latitude,Longitude,both
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America,"3666 21st St, San Francisco, CA 94114, USA",34.029595,-118.478736,"(34.0295954, -118.4787359)"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America,"735 Dolores St, San Francisco, CA 94119, USA",37.417080,-122.167174,"(37.4170802, -122.167174)"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America,"332 Hill St, San Francisco, California 94114, USA",39.304666,-76.710369,"(39.3046658, -76.7103691)"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"3995 23rd St, San Francisco, CA 94114, USA",42.332384,-83.091101,"(42.332384, -83.091101)"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America,"1056 Sanchez St, San Francisco, California, USA",37.748362,-122.429346,"(37.748362, -122.429346)"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America,"551 Alvarado St, San Francisco, CA 94114, USA",32.713912,-96.876668,"(32.713912, -96.876668)"

In [39]:
df["reverse_address"] = df["both"].apply(nom.reverse).apply(lambda x: x.address)
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address,Latitude,Longitude,both,reverse_address
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America,"3666 21st St, San Francisco, CA 94114, USA",34.029595,-118.478736,"(34.0295954, -118.4787359)","John Wayne Cancer Institute, 2200, Santa Monic..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America,"735 Dolores St, San Francisco, CA 94119, USA",37.417080,-122.167174,"(37.4170802, -122.167174)","Dolores Street, Stanford University, Santa Cla..."
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America,"332 Hill St, San Francisco, California 94114, USA",39.304666,-76.710369,"(39.3046658, -76.7103691)","1719, North Forest Park Avenue, Franklintown, ..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America,"3995 23rd St, San Francisco, CA 94114, USA",42.332384,-83.091101,"(42.332384, -83.091101)","Bohemian National Home (esk-Nrodn-dm), Bu..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America,"1056 Sanchez St, San Francisco, California, USA",37.748362,-122.429346,"(37.748362, -122.429346)","Antique Clock Repair, 1301, Sanchez Street, No..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America,"551 Alvarado St, San Francisco, CA 94114, USA",32.713912,-96.876668,"(32.713912, -96.876668)","3407, Alvarado Street, Dallas, Dallas County, ..."