In [2]:
import os, pandas as pd
os.listdir()

['.ipynb_checkpoints',
 'commercesparis.csv',
 'data',
 'dml_df.ipynb',
 'script1.py',
 'testing_jupyter.ipynb']

In [3]:
df = pd.read_json("./data/supermarkets.json")
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.loc?

In [6]:
df.loc[3,"Name"]

"Ben's Shop"

In [7]:
df.loc[1:4,"Address":"City"]

           Address           City
1   735 Dolores St  San Francisco
2      332 Hill St  San Francisco
3     3995 23rd St  San Francisco
4  1056 Sanchez St  San Francisco

In [8]:
df.loc[1:4,["Address","City","State"]]

           Address           City             State
1   735 Dolores St  San Francisco          CA 94119
2      332 Hill St  San Francisco  California 94114
3     3995 23rd St  San Francisco          CA 94114
4  1056 Sanchez St  San Francisco        California

In [9]:
df.loc[:,["Address","City","State"]]

           Address           City             State
0     3666 21st St  San Francisco          CA 94114
1   735 Dolores St  San Francisco          CA 94119
2      332 Hill St  San Francisco  California 94114
3     3995 23rd St  San Francisco          CA 94114
4  1056 Sanchez St  San Francisco        California
5  551 Alvarado St  San Francisco          CA 94114

In [10]:
list(df.loc[:,"Address"])

['3666 21st St',
 '735 Dolores St',
 '332 Hill St',
 '3995 23rd St',
 '1056 Sanchez St',
 '551 Alvarado St']

In [11]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [12]:
df.iloc[3:5,-4:]
# index based access

   Employees  ID        Name       State
3         10   4  Ben's Shop    CA 94114
4         12   5     Sanchez  California

In [13]:
df2 = df.set_index("Address")
df2

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [14]:
df2.ix[2,"Employees"]

25

In [15]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [19]:
df.drop("Address",1)
# drop column Address 1 = column 0 = row

            City Country  Employees  ID         Name             State
0  San Francisco     USA          8   1      Madeira          CA 94114
1  San Francisco     USA         15   2  Bready Shop          CA 94119
2  San Francisco     USA         25   3  Super River  California 94114
3  San Francisco     USA         10   4   Ben's Shop          CA 94114
4  San Francisco     USA         12   5      Sanchez        California
5  San Francisco     USA         20   6   Richvalley          CA 94114

In [24]:
df.drop(4)

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [32]:
df.columns[2:]

Index(['Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [34]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [36]:
df["Continent"]=df.shape[0]*["North America"]

In [38]:
df

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [42]:
df.shape

(6, 8)

In [44]:
df["Continent"] = df["Country"] + ", North America"

In [46]:
df

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [48]:
from geopy.geocoders import Nominatim

In [50]:
nom = Nominatim()

In [53]:
home = nom.geocode("3 rue des marguerites, Gonesse, 95500")

In [59]:
print(home[-1])

(48.9982615, 2.4289817)

In [60]:
home.latitude

48.9982615

In [61]:
 nom.geocode("3 rue des marguerites, Gonesse, 95500")

Location(Rue des Marguerites, Gonesse, Sarcelles, Val-d'Oise, Île-de-France, 95500, France, (48.9982615, 2.4289817, 0.0))

In [63]:
df

,Address,City,Country,Employees,ID,Name,State,Continent
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [67]:
df["full_address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America","3666 21st St, San Francisco, CA 94114, USA"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America","735 Dolores St, San Francisco, CA 94119, USA"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America","332 Hill St, San Francisco, California 94114, USA"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America","3995 23rd St, San Francisco, CA 94114, USA"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America","1056 Sanchez St, San Francisco, California, USA"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America","551 Alvarado St, San Francisco, CA 94114, USA"

In [91]:
df["Latitude"] = df["Address"].apply(nom.geocode).apply(lambda x: x.latitude if x != None else "N/A")
df["Longitude"] = df["Address"].apply(nom.geocode).apply(lambda x: x.longitude if x != None else "N/A")
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address,Latitude,Longitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America","3666 21st St, San Francisco, CA 94114, USA",39.749523,-104.985714
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America","735 Dolores St, San Francisco, CA 94119, USA",36.966449,-121.997589
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America","332 Hill St, San Francisco, California 94114, USA",39.521829,-119.813972
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America","3995 23rd St, San Francisco, CA 94114, USA",42.339554,-83.095921
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America","1056 Sanchez St, San Francisco, California, USA",27.516224,-99.506020
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America","551 Alvarado St, San Francisco, CA 94114, USA",34.060053,-118.274638

In [120]:
df["both"] = list(zip(df.Latitude,df.Longitude))

In [122]:
print(list(zip(df.Latitude,df.Longitude)))

[(39.749523000000003, -104.9857138), (36.966449264772699, -121.99758892017), (39.521829367346903, -119.813972142857), (42.339554238773999, -83.095921226975406), (27.516223922911401, -99.506019719390594), (34.060053484848503, -118.274637848485)]

In [124]:
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address,Latitude,Longitude,both
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America","3666 21st St, San Francisco, CA 94114, USA",39.749523,-104.985714,"(39.749523, -104.9857138)"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America","735 Dolores St, San Francisco, CA 94119, USA",36.966449,-121.997589,"(36.9664492648, -121.99758892)"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America","332 Hill St, San Francisco, California 94114, USA",39.521829,-119.813972,"(39.5218293673, -119.813972143)"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America","3995 23rd St, San Francisco, CA 94114, USA",42.339554,-83.095921,"(42.3395542388, -83.095921227)"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America","1056 Sanchez St, San Francisco, California, USA",27.516224,-99.506020,"(27.5162239229, -99.5060197194)"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America","551 Alvarado St, San Francisco, CA 94114, USA",34.060053,-118.274638,"(34.0600534848, -118.274637848)"

In [128]:
df["reverse_address"] = df["both"].apply(nom.reverse).apply(lambda x: x.address)
df

,Address,City,Country,Employees,ID,Name,State,Continent,full_address,Latitude,Longitude,both,reverse_address
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America","3666 21st St, San Francisco, CA 94114, USA",39.749523,-104.985714,"(39.749523, -104.9857138)","2100, California Street, Five Points, Denver, ..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America","735 Dolores St, San Francisco, CA 94119, USA",36.966449,-121.997589,"(36.9664492648, -121.99758892)","7th & Dolores, 7th Avenue, Seabright, Twin Lak..."
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America","332 Hill St, San Francisco, California 94114, USA",39.521829,-119.813972,"(39.5218293673, -119.813972143)","150, Ridge Street, Midtown, Reno, Washoe Count..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America","3995 23rd St, San Francisco, CA 94114, USA",42.339554,-83.095921,"(42.3395542388, -83.095921227)","3995, 23rd Street, Detroit, Wayne County, Mich..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America","1056 Sanchez St, San Francisco, California, USA",27.516224,-99.506020,"(27.5162239229, -99.5060197194)","1056, Sanchez Street, Laredo, Webb County, Tex..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America","551 Alvarado St, San Francisco, CA 94114, USA",34.060053,-118.274638,"(34.0600534848, -118.274637848)","Metro, Alvarado Street, Angelino Heights, LA, ..."